{% extends "base.html" %}
{% block content %}
    <div class="myCanvas"
         style="border:1px solid #000000;">


        <div class="container">


            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a href="#test-swipe-1">HTML</a></li>
                <li class="tab col s3"><a class="active" href="#test-swipe-2">CSS</a></li>
                <li class="tab col s3"><a href="#test-swipe-3">Javascript</a></li>
                <li class="tab col s3"><a href="#test-swipe-4">Python</a></li>
                <li class="tab col s3"><a href="#test-swipe-5">Flask</a></li>
            </ul>
            <div id="test-swipe-1" class="col s6">
                <ul class="browser-default">
                    <li><a href="https://www.tutorialspoint.com/html/index.htm"> HTML Tutorial</a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                </ul>

            </div>
            <div id="test-swipe-2" class="col s6">

                <ul class="browser-default">
                    <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS">Introduction to CSS</a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                </ul>

            </div>
            <div id="test-swipe-3" class="col s6">

                <ul class="browser-default">
                    <li><a href="https://javascript.info/">The Modern JavaScript Tutorial</a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                </ul>

            </div>
            <div id="test-swipe-4" class="col s6">

                <ul class="browser-default">
                    <li><a href="https://www.learnpython.org/">learnpython.org</a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                </ul>

            </div>
            <div id="test-swipe-5" class="col s6">


                <ul class="browser-default">
                    <li><a href="https://www.tutorialspoint.com/flask/index.htm">Flask Tutorial</a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                </ul>

            </div>


        </div>
    </div>




{% endblock %}